@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=VT323&display=swap');
body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
    font-family:monospace;
}
div {
    text-align: center;
}
input {
    width: 60%;
    background-color: black;
    color: white;
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    font-size: 16px;
    outline: none;
    text-align: center;
    border-top: 1px dotted white;
    border-bottom: 1px dotted white;
}
button {
    width: 60%;
    background-color: black;
    color: white;
    border: 1px solid white;
    padding: 12px 18px;
    margin: 10px;
    cursor: pointer;
    font-size: 18px;
    transition: transform 0.3s ease, background-color 0.3s ease;
}
button {
    width: 60%;
    border: none;
    background-color:bl;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    font-family: monospace;
    border-top: 1px dotted white;
    border-bottom: 1px dotted white;
  }
button:hover {
    background-color: 4d4d4d;
    color: black;
    transform: scale(1.1);
}
#playbutton{
color:#2ddb01;
}
#leaderboard{
color: #ffff00;
}
#howtoplay{
color: #ff00ff;
}
#quit{
color:red
}
.sidebar {
    height: 100vh;
    width: 30%;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    color: white;
}
.menu {
    list-style-type: none;
    padding: 0;
    width: 100%;
}

.menu li {
    width: 100%;
}
.menu a {
    display: block;
    width: 100%;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: background-color 0.3s;
}

.menu a:hover {
    background-color: #34495e;
}
